extends ../layout
include ../mixins/ticket-helper
include ../mixins/release-status-helper

block content
    h1.page-header= title
    +releaseStatus(docs)
    each doc in docs
        +repoTickets('/releases/repo/' + doc.repo + '/' + tag, doc.repo, doc.tickets)
