extends ../layout
include ../mixins/ticket-helper
include ../mixins/release-status-helper

block content
    h1.page-header= title
    +releaseStatus(docs)
    each doc in docs
        +repoTickets('/releases/repo/' + doc.repo + '/' + tag, doc.repo, doc.tickets)

block scripts
        script(src='/bower_components/moment/min/moment.min.js')
        script(src='/bower_components/moment/locale/de.js')
        script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
        script(src='/javascripts/datepicker.js')